# Engineer:    Kudryashov D.S.
# Description: Constraints for Xilinx ISE 14.7 (xc3s500e-pq208-4)
# P.S.:        The names of the buses in the top-level module must exactly match their names in the project constraints file

NET "CLK_48" TNM_NET = "CLK_48";
TIMESPEC TS_CLK_48 = PERIOD "CLK_48" 20.8 ns HIGH 50%;
NET "CLK_48" LOC = P83;
NET "CLK_48" IOSTANDARD = LVTTL;
NET "CLK_48" PULLDOWN;

NET "N_ST" LOC = P96;
NET "N_ST" IOSTANDARD = LVCMOS33;

NET "SYS_NRST" LOC = P91;
NET "SYS_NRST" IOSTANDARD = LVTTL;
NET "SYS_NRST" PULLUP;

NET "COL_B_[7]" LOC = P205;
NET "COL_B_[7]" IOSTANDARD = LVCMOS33;
NET "COL_B_[6]" LOC = P206;
NET "COL_B_[6]" IOSTANDARD = LVCMOS33;
NET "COL_B_[5]" LOC = P2;
NET "COL_B_[5]" IOSTANDARD = LVCMOS33;
NET "COL_B_[4]" LOC = P3;
NET "COL_B_[4]" IOSTANDARD = LVCMOS33;
NET "COL_B_[3]" LOC = P4;
NET "COL_B_[3]" IOSTANDARD = LVCMOS33;
NET "COL_B_[2]" LOC = P5;
NET "COL_B_[2]" IOSTANDARD = LVCMOS33;
NET "COL_B_[1]" LOC = P8;
NET "COL_B_[1]" IOSTANDARD = LVCMOS33;
NET "COL_B_[0]" LOC = P9;
NET "COL_B_[0]" IOSTANDARD = LVCMOS33;

NET "COL_G_[7]" LOC = P163;
NET "COL_G_[7]" IOSTANDARD = LVCMOS33;
NET "COL_G_[6]" LOC = P164;
NET "COL_G_[6]" IOSTANDARD = LVCMOS33;
NET "COL_G_[5]" LOC = P165;
NET "COL_G_[5]" IOSTANDARD = LVCMOS33;
NET "COL_G_[4]" LOC = P167;
NET "COL_G_[4]" IOSTANDARD = LVCMOS33;
NET "COL_G_[3]" LOC = P168;
NET "COL_G_[3]" IOSTANDARD = LVCMOS33;
NET "COL_G_[2]" LOC = P171;
NET "COL_G_[2]" IOSTANDARD = LVCMOS33;
NET "COL_G_[1]" LOC = P172;
NET "COL_G_[1]" IOSTANDARD = LVCMOS33;
NET "COL_G_[0]" LOC = P177;
NET "COL_G_[0]" IOSTANDARD = LVCMOS33;

NET "COL_R_[7]" LOC = P137;
NET "COL_R_[7]" IOSTANDARD = LVCMOS33;
NET "COL_R_[6]" LOC = P138;
NET "COL_R_[6]" IOSTANDARD = LVCMOS33;
NET "COL_R_[5]" LOC = P139;
NET "COL_R_[5]" IOSTANDARD = LVCMOS33;
NET "COL_R_[4]" LOC = P140;
NET "COL_R_[4]" IOSTANDARD = LVCMOS33;
NET "COL_R_[3]" LOC = P144;
NET "COL_R_[3]" IOSTANDARD = LVCMOS33;
NET "COL_R_[2]" LOC = P145;
NET "COL_R_[2]" IOSTANDARD = LVCMOS33;
NET "COL_R_[1]" LOC = P146;
NET "COL_R_[1]" IOSTANDARD = LVCMOS33;
NET "COL_R_[0]" LOC = P147;
NET "COL_R_[0]" IOSTANDARD = LVCMOS33;

NET "ROW[7]" LOC = P23;
NET "ROW[7]" IOSTANDARD = LVCMOS33;
NET "ROW[6]" LOC = P22;
NET "ROW[6]" IOSTANDARD = LVCMOS33;
NET "ROW[5]" LOC = P19;
NET "ROW[5]" IOSTANDARD = LVCMOS33;
NET "ROW[4]" LOC = P18;
NET "ROW[4]" IOSTANDARD = LVCMOS33;
NET "ROW[3]" LOC = P16;
NET "ROW[3]" IOSTANDARD = LVCMOS33;
NET "ROW[2]" LOC = P15;
NET "ROW[2]" IOSTANDARD = LVCMOS33;
NET "ROW[1]" LOC = P12;
NET "ROW[1]" IOSTANDARD = LVCMOS33;
NET "ROW[0]" LOC = P11;
NET "ROW[0]" IOSTANDARD = LVCMOS33;

NET "AN[7]" LOC = P24;
NET "AN[7]" IOSTANDARD = LVCMOS33;
NET "AN[6]" LOC = P25;
NET "AN[6]" IOSTANDARD = LVCMOS33;
NET "AN[5]" LOC = P28;
NET "AN[5]" IOSTANDARD = LVCMOS33;
NET "AN[4]" LOC = P29;
NET "AN[4]" IOSTANDARD = LVCMOS33;
NET "AN[3]" LOC = P39;
NET "AN[3]" IOSTANDARD = LVCMOS33;
NET "AN[2]" LOC = P31;
NET "AN[2]" IOSTANDARD = LVCMOS33;
NET "AN[1]" LOC = P33;
NET "AN[1]" IOSTANDARD = LVCMOS33;
NET "AN[0]" LOC = P36;
NET "AN[0]" IOSTANDARD = LVCMOS33;

NET "CAT[7]" LOC = P42;
NET "CAT[7]" IOSTANDARD = LVTTL;
NET "CAT[6]" LOC = P40;
NET "CAT[6]" IOSTANDARD = LVTTL;
NET "CAT[5]" LOC = P34;
NET "CAT[5]" IOSTANDARD = LVTTL;
NET "CAT[4]" LOC = P47;
NET "CAT[4]" IOSTANDARD = LVTTL;
NET "CAT[3]" LOC = P45;
NET "CAT[3]" IOSTANDARD = LVTTL;
NET "CAT[2]" LOC = P41;
NET "CAT[2]" IOSTANDARD = LVTTL;
NET "CAT[1]" LOC = P30;
NET "CAT[1]" IOSTANDARD = LVTTL;
NET "CAT[0]" LOC = P35;
NET "CAT[0]" IOSTANDARD = LVTTL;

NET "SW_F" LOC = P72;
NET "SW_F" IOSTANDARD = LVCMOS33;
NET "SW_E" LOC = P80;
NET "SW_E" IOSTANDARD = LVCMOS33;
NET "SW_D" LOC = P116;
NET "SW_D" IOSTANDARD = LVCMOS33;
NET "SW_C" LOC = P101;
NET "SW_C" IOSTANDARD = LVCMOS33;
NET "SW_B" LOC = P98;
NET "SW_B" IOSTANDARD = LVCMOS33;
NET "SW_A" LOC = P110;
NET "SW_A" IOSTANDARD = LVCMOS33;
NET "SW_9" LOC = P115;
NET "SW_9" IOSTANDARD = LVCMOS33;
NET "SW_8" LOC = P118;
NET "SW_8" IOSTANDARD = LVCMOS33;
NET "SW_7" LOC = P120;
NET "SW_7" IOSTANDARD = LVCMOS33;
NET "SW_6" LOC = P124;
NET "SW_6" IOSTANDARD = LVCMOS33;
NET "SW_5" LOC = P126;
NET "SW_5" IOSTANDARD = LVCMOS33;
NET "SW_4" LOC = P128;
NET "SW_4" IOSTANDARD = LVCMOS33;
NET "SW_3" LOC = P130;
NET "SW_3" IOSTANDARD = LVCMOS33;
NET "SW_2" LOC = P136;
NET "SW_2" IOSTANDARD = LVCMOS33;
NET "SW_1" LOC = P142;
NET "SW_1" IOSTANDARD = LVCMOS33;
NET "SW_0" LOC = P148;
NET "SW_0" IOSTANDARD = LVCMOS33;

NET "BTN_0" LOC = P54;
NET "BTN_0" IOSTANDARD = LVCMOS33;
NET "BTN_1" LOC = P57;
NET "BTN_1" IOSTANDARD = LVCMOS33;
NET "BTN_2" LOC = P58;
NET "BTN_2" IOSTANDARD = LVCMOS33;
NET "BTN_3" LOC = P71;
NET "BTN_3" IOSTANDARD = LVCMOS33;

NET "LED_F" LOC = P97;
NET "LED_F" IOSTANDARD = LVCMOS33;
NET "LED_E" LOC = P106;
NET "LED_E" IOSTANDARD = LVCMOS33;
NET "LED_D" LOC = P107;
NET "LED_D" IOSTANDARD = LVCMOS33;
NET "LED_C" LOC = P108;
NET "LED_C" IOSTANDARD = LVCMOS33;
NET "LED_B" LOC = P109;
NET "LED_B" IOSTANDARD = LVCMOS33;
NET "LED_A" LOC = P112;
NET "LED_A" IOSTANDARD = LVCMOS33;
NET "LED_9" LOC = P113;
NET "LED_9" IOSTANDARD = LVCMOS33;
NET "LED_8" LOC = P119;
NET "LED_8" IOSTANDARD = LVCMOS33;
NET "LED_7" LOC = P122;
NET "LED_7" IOSTANDARD = LVCMOS33;
NET "LED_6" LOC = P123;
NET "LED_6" IOSTANDARD = LVCMOS33;
NET "LED_5" LOC = P127;
NET "LED_5" IOSTANDARD = LVCMOS33;
NET "LED_4" LOC = P129;
NET "LED_4" IOSTANDARD = LVCMOS33;
NET "LED_3" LOC = P132;
NET "LED_3" IOSTANDARD = LVCMOS33;
NET "LED_2" LOC = P133;
NET "LED_2" IOSTANDARD = LVCMOS33;
NET "LED_1" LOC = P134;
NET "LED_1" IOSTANDARD = LVCMOS33;
NET "LED_0" LOC = P135;
NET "LED_0" IOSTANDARD = LVCMOS33;